@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Montserrat:ital,wght@0,600;0,800;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
}

.header {
  justify-content: space-around;
padding: 30px;
  width: 100%;
  background-color: black;
}

.header,
.header__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  
}
.header__navigation,
.header__link {
  padding: 0 18px;
  text-decoration: none;
  color: #fff;
}

.header__link:hover{
  color:#1c059b;
  transition: 0.5 ease-in;
  font-weight: 700;
}

.sobre-min {
    background: #eaf2fd;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 64px;
    gap: 10px;
    
  }
  
  .sobre-min__tittle {
    margin-left: 8rem;
    font-weight: 700;
    font-size: 32px;
    color: #464646;
    background-color: #eaf2fd;
  }
  
  .sobre-min__sub-tittle__box {
    max-width: 50.9375rem;
    margin-left: 4rem;
    background: #eaf2fd;
  }
  
  .sobre-min__sub-tittle__box > img{
    background-color: #eaf2fd;
  }
  
  .sobre-min__sub-tittle {
    padding-bottom: 1.5625rem;
    font-weight: 400;
    font-size: 16px;
    color: #464646;
    background-color: #eaf2fd;
  }
  .sobre-min__abilidades {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .sobre-min__abilidades {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
 
  .abilidades__tittle {
    text-align: center;
    
  }
  
  .abilidades__hobbies {
    text-align: center;
    margin: 73px 0 0;
  }
  
  .abilidades__container {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  .abilidades__skills {
    background: #FFFFFF;
    width: 176px;
    height: 150px;
    text-align: end;
    background-color: #fff;
  }
  
  .abilidades__skills > img {
    display: flex;
    position: relative;
    top: 109px;
    right: -1.25rem;
  }
  .abilidades__skills .span {
    background-color: #FFFFFF;
    display: flex;
    width: 144px;
    position: relative;
    top: 7.3125rem;
    right: -1.5625rem;
    color: #464646;
    font-size: 1rem;
    font-weight: 700;
  }